name: actions
on: [push]
jobs:
  FirstAction:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run lint
  SecondAction:
    runs-on: ubuntu-latest
    steps:
      - run: echo ls
